{% extends "layout.html" %}

{% block content %}
<h2>New Project</h2>

<form method="post" class="form">
    <label>Name</label>
    <input type="text" name="name" required>

    <label>Type</label>
    <select name="type" required>
    {% for t in types %}
        <option value="{{ t }}">{{ t }}</option>
    {% endfor %}
</select>


    <label>Status</label>
    <select name="status" required>
    {% for s in statuses %}
        <option value="{{ s }}">{{ s }}</option>
    {% endfor %}
</select>


    <label>Deadline</label>
    <input type="date" name="deadline">

    <label>Notes</label>
    <textarea name="notes"></textarea>

    <label>Links</label>
    <textarea name="links"></textarea>

    <button type="submit">Create Project</button>
</form>
{% endblock %}
